{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ product.name }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Price:</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Description:</th>
                <td>{{ product.description }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

